.header,
.header * {
  box-sizing: border-box;
}
.header {
  display: flex;
  flex-direction: row;
  gap: 216px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.header .logo-cba-4-0-instance {
  width: 82px !important;
  align-self: unset !important;
}
.header .nav-bar-instance {
  flex-shrink: 0 !important;
}
