.componente-rectangulo,
.componente-rectangulo * {
  box-sizing: border-box;
}
.componente-rectangulo {
  height: 522px;
  position: relative;
}
.componente-rectangulo .rectangulos-instance {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  right: 0% !important;
  left: 0% !important;
  bottom: 0% !important;
  top: 0% !important;
}
.componente-rectangulo .contenido-rectangulos {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 86.49%;
  height: 68.39%;
  position: absolute;
  right: 4.68%;
  left: 8.83%;
  bottom: 17.05%;
  top: 14.56%;
}
.componente-rectangulo .content-writing {
  color: var(--terciario, #2486a5);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.componente-rectangulo
  .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-a-consequat-nunc-id-purus-pretium-sagittis-diam-quis-massa-nulla-ridiculus-nullam-bibendum-luctus-viverra-eu-pellentesque-sem-sed-platea-diam-dignissim-duis-purus {
  color: var(--secundario, #2dafc1);
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-text-font-size, 16px);
  line-height: var(--body-text-line-height, 30px);
  font-weight: var(--body-text-font-weight, 400);
  position: relative;
  align-self: stretch;
  height: 116px;
}
.componente-rectangulo .boton-instance {
  flex-shrink: 0 !important;
}
