.frame-5-property-1-modo-claro,
.frame-5-property-1-modo-claro * {
  box-sizing: border-box;
}
.frame-5-property-1-modo-claro {
  padding: 2px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: center;
  justify-content: center;
  width: 22.63px;
  position: relative;
}
.frame-5-property-1-modo-claro .scroll-down {
  background: var(
    --principal,
    linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(to left, #0f2948, #0f2948)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 18.63px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.frame-5-property-1-modo-claro .ornament-43 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
