/* Figma Styles of your File */:root {
  /* Colors */
  --principal: linear-gradient(to left, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), linear-gradient(to left, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), linear-gradient(to left, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), linear-gradient(to left, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), linear-gradient(to left, #0f2948, #0f2948);
  --secundario: #2dafc1;
  --terciario: #2486a5;
  --rojo: #ff0000;
  --blanco: #ffffff;
  --negro: #000000;

  /* Fonts */
  --subtitulos-font-family: Inter-Bold, sans-serif;
  --subtitulos-font-size: 48px;
  --subtitulos-line-height: 140%;
  --subtitulos-font-weight: 700;
  --subtitulos-font-style: normal;
  --titulos-principales-font-family: Inter-Bold, sans-serif;
  --titulos-principales-font-size: 150px;
  --titulos-principales-line-height: 140%;
  --titulos-principales-font-weight: 700;
  --titulos-principales-font-style: normal;
  --texto-principal-font-family: Inter-Regular, sans-serif;
  --texto-principal-font-size: 24px;
  --texto-principal-line-height: 140%;
  --texto-principal-font-weight: 400;
  --texto-principal-font-style: normal;
  --texto-secundario-font-family: Inter-Regular, sans-serif;
  --texto-secundario-font-size: 16px;
  --texto-secundario-line-height: 140%;
  --texto-secundario-font-weight: 400;
  --texto-secundario-font-style: normal;

  /* Effects */

}

